%h1 Welcome

- if user_signed_in?
  - if current_user.twitter_user?
    Twitter User
  - else
    Normal User
  please go to premium to get more info.
- else
  Guest, please Login.

- if user_signed_in? && !current_user.paid?
  %h3 Please buy me a coffee and get motivated!
  = render 'charges/form'
